@page
@model MLGProjectManagerWeb.Pages.Projects.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProjectEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEntity.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectEntity.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEntity.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectEntity.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEntity.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectEntity.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEntity.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectEntity.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEntity.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectEntity.Customer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEntity.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectEntity.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEntity.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectEntity.Rate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProjectEntity.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Projects/List">Back to List</a>
    </form>
</div>
