@page
@model MLGProjectManagerWeb.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEntity.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectEntity.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEntity.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectEntity.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEntity.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectEntity.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEntity.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectEntity.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEntity.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectEntity.Customer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEntity.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectEntity.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEntity.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectEntity.Rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEntity.Responsible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectEntity.Responsible)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProjectEntity.Id">Edit</a> |
    <a asp-page="/Projects/List">Back to List</a>
</div>
